*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: black;
}

nav{
    width: 2700px;
    height: 150px;
    background: black;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    margin: auto;
   
}


img{
   width:250px;
}

.second-box{
    
    width: 1000px;
    
    justify-content: center;
    gap: 20px;
   
}


a{
    color: white;
    text-align: center;
    padding: 10px 30px;
    font-size: 30px;
    margin-left: 30px;
    font-weight: 800;
    text-decoration: none;
}

button{
   width: 150px;
   height: 40px;
   margin-left: 40px;
   color: white;
   background-color: black;
   text-align: center;
  
}


#content{
    margin: auto;
    width: 2700px;
    height: 1000px;
    background-color:black;
    text-align: center;
}



h1{
    font-size: 150px;
}

p{
    font-size: 60px;
}

input{

    margin-top: 40px;
    margin-right: 300px;
    font-size: 30px;
    color: white;
    background-color: black;
    text-decoration: none;
}

#generate{
    
    border-radius: 20px;
    height: 90px;
    width: 300px;
    margin-left: 80px;
    
    font-size: 30px;
    background-color: #2d1f96;
}

#id1{

    margin: auto;
    width: 1100px;
    height: 120px;
    
    border-radius: 20px;
    box-shadow: rgba(150, 10, 239, 2) 0px 0px 0px 5px, rgba(78, 9, 107, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

i{
    color: rgb(49, 159, 126);
}

.purple{
    background: linear-gradient(to right, blue, purple);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
}

.white{
    color: white;
}

.excellent{
    margin-top: 100px;
    font-size: 40px;
    font-weight: 50;
    color: rgba(255, 255, 255, 0.562);
}

.th4-line{
    margin-bottom: 150px;

}